@media (max-width:768px) {
  .style0,
  .style1 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.75em;
    margin-left: 67px;
    margin-top: 21px;
    height: 54px
  }
  .style0 {
    font-size: .6875em;
    position: relative;
    margin-left: 183px;
    margin-top: 0;
    height: 18px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 19px;
    margin-top: 19px;
    width: 140px;
    height: 32px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .style6 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 19px;
    margin-top: 19px;
    width: 123px;
    height: 32px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 19px;
    margin-top: 19px;
    width: 103px;
    height: 32px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 19px;
    margin-top: 19px;
    width: 155px;
    height: 32px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 19px;
    margin-top: 19px;
    width: 216px;
    height: 32px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 19px;
    margin-top: 19px;
    width: 198px;
    height: 32px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 19px;
    margin-top: 19px;
    width: 133px;
    height: 32px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .homescreenrow9 {
    display: flex;
    margin-left: 19px;
    margin-top: 90px;
    width: 345px;
    height: 32px;
    align-items: center
  }
  .style2 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 0;
    width: 70px;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .homescreenrow9unsupported2 {
    margin-left: 253px;
    width: 21px;
    height: 21px
  }
  .homescreenrow10 {
    display: flex;
    margin-left: 19px;
    margin-top: 19px;
    width: 345px;
    height: 76px;
    align-items: stretch
  }
  .homescreenrow10unsupported1 {
    margin-left: 0;
    width: 104px
  }
  .homescreenrow10unsupported0 {
    margin-left: 137px;
    width: 104px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style18,
  .style19 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.75em;
    margin-left: 67px;
    margin-top: 21px;
    height: 54px
  }
  .style18 {
    font-size: .6875em;
    position: relative;
    margin-left: 183px;
    margin-top: 0;
    height: 18px
  }
  .datacalcscreenunsupported0 {
    margin-left: 30px;
    margin-top: 8px;
    width: 204px;
    height: 346px
  }
  .datacalcscreenrow3 {
    display: flex;
    margin-left: 19px;
    margin-top: 94px;
    width: 345px;
    height: 32px;
    align-items: center
  }
  .style20 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 0;
    width: 63px;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style21 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .datacalcscreenrow3unsupported3 {
    margin-left: 260px;
    width: 21px;
    height: 21px
  }
  .datacalcscreenrow4 {
    display: flex;
    margin-left: 19px;
    margin-top: 19px;
    width: 345px;
    height: 76px;
    align-items: stretch
  }
  .datacalcscreenrow4unsupported2 {
    margin-left: 0;
    width: 104px
  }
  .datacalcscreenrow4unsupported1 {
    margin-left: 137px;
    width: 104px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .style0,
  .style1 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 5.632em;
    margin-left: 137px;
    margin-top: 43px;
    height: 111px
  }
  .style0 {
    font-size: 1.408em;
    position: relative;
    margin-left: 375px;
    margin-top: 0;
    height: 37px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 39px;
    margin-top: 39px;
    width: 287px;
    height: 66px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
  .style6 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 39px;
    margin-top: 39px;
    width: 252px;
    height: 66px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 39px;
    margin-top: 39px;
    width: 211px;
    height: 66px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 39px;
    margin-top: 39px;
    width: 317px;
    height: 66px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 39px;
    margin-top: 39px;
    width: 442px;
    height: 66px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 39px;
    margin-top: 39px;
    width: 406px;
    height: 66px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 39px;
    margin-top: 39px;
    width: 272px;
    height: 66px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
  .homescreenrow9 {
    display: flex;
    margin-left: 39px;
    margin-top: 184px;
    width: 707px;
    height: 66px;
    align-items: center
  }
  .style2 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 0;
    width: 143px;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
  .homescreenrow9unsupported2 {
    margin-left: 518px;
    width: 43px;
    height: 43px
  }
  .homescreenrow10 {
    display: flex;
    margin-left: 39px;
    margin-top: 39px;
    width: 707px;
    height: 156px;
    align-items: stretch
  }
  .homescreenrow10unsupported1 {
    margin-left: 0;
    width: 213px
  }
  .homescreenrow10unsupported0 {
    margin-left: 281px;
    width: 213px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style18,
  .style19 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 5.632em;
    margin-left: 137px;
    margin-top: 43px;
    height: 111px
  }
  .style18 {
    font-size: 1.408em;
    position: relative;
    margin-left: 375px;
    margin-top: 0;
    height: 37px
  }
  .datacalcscreenunsupported0 {
    margin-left: 61px;
    margin-top: 16px;
    width: 418px;
    height: 709px
  }
  .datacalcscreenrow3 {
    display: flex;
    margin-left: 39px;
    margin-top: 193px;
    width: 707px;
    height: 66px;
    align-items: center
  }
  .style20 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 0;
    width: 129px;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style21 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
  .datacalcscreenrow3unsupported3 {
    margin-left: 532px;
    width: 43px;
    height: 43px
  }
  .datacalcscreenrow4 {
    display: flex;
    margin-left: 39px;
    margin-top: 39px;
    width: 707px;
    height: 156px;
    align-items: stretch
  }
  .datacalcscreenrow4unsupported2 {
    margin-left: 0;
    width: 213px
  }
  .datacalcscreenrow4unsupported1 {
    margin-left: 281px;
    width: 213px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .style0,
  .style1 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 6.746666666666666em;
    margin-left: 164px;
    margin-top: 52px;
    height: 132px
  }
  .style0 {
    font-size: 1.6866666666666665em;
    position: relative;
    margin-left: 449px;
    margin-top: 0;
    height: 44px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 47px;
    margin-top: 47px;
    width: 343px;
    height: 79px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
  .style6 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 47px;
    margin-top: 47px;
    width: 302px;
    height: 79px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 47px;
    margin-top: 47px;
    width: 253px;
    height: 79px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 47px;
    margin-top: 47px;
    width: 380px;
    height: 79px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 47px;
    margin-top: 47px;
    width: 530px;
    height: 79px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 47px;
    margin-top: 47px;
    width: 486px;
    height: 79px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 47px;
    margin-top: 47px;
    width: 326px;
    height: 79px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
  .homescreenrow9 {
    display: flex;
    margin-left: 47px;
    margin-top: 221px;
    width: 846px;
    height: 79px;
    align-items: center
  }
  .style2 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 0;
    width: 172px;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
  .homescreenrow9unsupported2 {
    margin-left: 621px;
    width: 52px;
    height: 52px
  }
  .homescreenrow10 {
    display: flex;
    margin-left: 47px;
    margin-top: 47px;
    width: 846px;
    height: 186px;
    align-items: stretch
  }
  .homescreenrow10unsupported1 {
    margin-left: 0;
    width: 255px
  }
  .homescreenrow10unsupported0 {
    margin-left: 336px;
    width: 255px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style18,
  .style19 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 6.746666666666666em;
    margin-left: 164px;
    margin-top: 52px;
    height: 132px
  }
  .style18 {
    font-size: 1.6866666666666665em;
    position: relative;
    margin-left: 449px;
    margin-top: 0;
    height: 44px
  }
  .datacalcscreenunsupported0 {
    margin-left: 74px;
    margin-top: 20px;
    width: 500px;
    height: 849px
  }
  .datacalcscreenrow3 {
    display: flex;
    margin-left: 47px;
    margin-top: 231px;
    width: 846px;
    height: 79px;
    align-items: center
  }
  .style20 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 0;
    width: 155px;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style21 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
  .datacalcscreenrow3unsupported3 {
    margin-left: 638px;
    width: 52px;
    height: 52px
  }
  .datacalcscreenrow4 {
    display: flex;
    margin-left: 47px;
    margin-top: 47px;
    width: 846px;
    height: 186px;
    align-items: stretch
  }
  .datacalcscreenrow4unsupported2 {
    margin-left: 0;
    width: 255px
  }
  .datacalcscreenrow4unsupported1 {
    margin-left: 336px;
    width: 255px
  }
}
@media (min-width:1200px) {
  .style0,
  .style1 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 8.8em;
    margin-left: 214px;
    margin-top: 67px;
    height: 173px
  }
  .style0 {
    font-size: 2.2em;
    position: relative;
    margin-left: 586px;
    margin-top: 0;
    height: 58px
  }
  .style4 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 61px;
    margin-top: 61px;
    width: 448px;
    height: 102px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style5 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
  .style6 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 61px;
    margin-top: 61px;
    width: 394px;
    height: 102px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
  .style8 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 61px;
    margin-top: 61px;
    width: 330px;
    height: 102px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style9 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 61px;
    margin-top: 61px;
    width: 496px;
    height: 102px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
  .style12 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 61px;
    margin-top: 61px;
    width: 691px;
    height: 102px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
  .style14 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 61px;
    margin-top: 61px;
    width: 634px;
    height: 102px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style15 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
  .style16 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 61px;
    margin-top: 61px;
    width: 426px;
    height: 102px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style17 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
  .homescreenrow9 {
    display: flex;
    margin-left: 61px;
    margin-top: 288px;
    width: 1104px;
    height: 102px;
    align-items: center
  }
  .style2 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 0;
    width: 224px;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style3 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
  .homescreenrow9unsupported2 {
    margin-left: 810px;
    width: 67px;
    height: 67px
  }
  .homescreenrow10 {
    display: flex;
    margin-left: 61px;
    margin-top: 61px;
    width: 1104px;
    height: 243px;
    align-items: stretch
  }
  .homescreenrow10unsupported1 {
    margin-left: 0;
    width: 333px
  }
  .homescreenrow10unsupported0 {
    margin-left: 438px;
    width: 333px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style18,
  .style19 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 8.8em;
    margin-left: 214px;
    margin-top: 67px;
    height: 173px
  }
  .style18 {
    font-size: 2.2em;
    position: relative;
    margin-left: 586px;
    margin-top: 0;
    height: 58px
  }
  .datacalcscreenunsupported0 {
    margin-left: 96px;
    margin-top: 26px;
    width: 653px;
    height: 1107px
  }
  .datacalcscreenrow3 {
    display: flex;
    margin-left: 61px;
    margin-top: 301px;
    width: 1104px;
    height: 102px;
    align-items: center
  }
  .style20 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 6px 6px 0 0 #000;
    display: flex;
    margin-left: 0;
    width: 202px;
    height: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style21 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
  .datacalcscreenrow3unsupported3 {
    margin-left: 832px;
    width: 67px;
    height: 67px
  }
  .datacalcscreenrow4 {
    display: flex;
    margin-left: 61px;
    margin-top: 61px;
    width: 1104px;
    height: 243px;
    align-items: stretch
  }
  .datacalcscreenrow4unsupported2 {
    margin-left: 0;
    width: 333px
  }
  .datacalcscreenrow4unsupported1 {
    margin-left: 438px;
    width: 333px
  }
}